/* Base Styles */
:root {
  --color-background: #ffffff;
  --color-text: #121212;
  --color-primary: #000000;
  --color-secondary: #333333;
  --font-heading: var(--font-heading-family);
  --font-body: var(--font-body-family);
  --font-subheading: var(--font-subheading-family);
  --font-accent: var(--font-accent-family);
  --page-width: 1400px;
}

body {
  margin: 0;
  font-family: var(--font-body);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight-custom);
  font-size: calc(1rem * var(--font-body-scale));
  line-height: var(--font-body-line-height);
  color: var(--font-body-color);
  text-transform: var(--font-body-transform);
  letter-spacing: var(--font-body-letter-spacing);
  background-color: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  margin: 0 0 1rem 0;
}

h1 {
  font-size: var(--h1-size);
  color: var(--h1-color);
  text-transform: var(--h1-transform);
  line-height: var(--h1-line-height);
  letter-spacing: var(--h1-letter-spacing);
  font-weight: var(--h1-weight);
}

h2 {
  font-size: var(--h2-size);
  color: var(--h2-color);
  text-transform: var(--h2-transform);
  line-height: var(--h2-line-height);
  letter-spacing: var(--h2-letter-spacing);
  font-weight: var(--h2-weight);
}

h3 {
  font-size: var(--h3-size);
  color: var(--h3-color);
  text-transform: var(--h3-transform);
  line-height: var(--h3-line-height);
  letter-spacing: var(--h3-letter-spacing);
  font-weight: var(--h3-weight);
}

h4 {
  font-size: var(--h4-size);
  color: var(--h4-color);
  text-transform: var(--h4-transform);
  line-height: var(--h4-line-height);
  letter-spacing: var(--h4-letter-spacing);
  font-weight: var(--h4-weight);
}

h5 {
  font-size: var(--h5-size);
  color: var(--h5-color);
  text-transform: var(--h5-transform);
  line-height: var(--h5-line-height);
  letter-spacing: var(--h5-letter-spacing);
  font-weight: var(--h5-weight);
}

h6 {
  font-size: var(--h6-size);
  color: var(--h6-color);
  text-transform: var(--h6-transform);
  line-height: var(--h6-line-height);
  letter-spacing: var(--h6-letter-spacing);
  font-weight: var(--h6-weight);
}

.page-width {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 0 2rem;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}

.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 20px 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Utilities */
.grid {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .custom-page-width {
    padding: 0px;
  }
  .page-width {
    padding: 0 1rem;
  }
}
