{% comment %}
  Renders a mega menu for a given link.
  Accepts:
  - link: {Object} The link object containing nested links.
{% endcomment %}

<div class="mega-menu">
  <div class="mega-menu-inner">
    <div class="mega-menu-links">
      <p class="mega-menu-title">{{ link.title }}</p>
      <ul class="list-unstyled">
        {% for childlink in link.links %}
          <li>
            <a href="{{ childlink.url }}">{{ childlink.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="mega-menu-images">
      {% assign latest_products = collections.all.products | limit: 2 %}
      {% for product in latest_products %}
        <div class="drawer-product-card">
          {% render 'product-card', product: product %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
